pip install Pillow
pip instal pytesseract
pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu118

pip install -U openai-whisper
pip install ffmpeg

#Scoop:
Set-ExecutionPolicy RemoteSigned -Scope CurrentUser # Optional: Needed to run a remote script the first time
irm get.scoop.sh | iex
scoop install ffmpeg


Not needed now:
pip install deskew